@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo', sans-serif;
    overflow-x: hidden;
    background: #0a0a0a;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo para todos os links */
a {
    color: inherit; /* Usa a cor do texto do elemento pai */
}

/* Estilo para links quando estão no estado hover (passar o mouse) */
a:hover, a:focus {
    color: inherit; /* Mantém a cor do texto ao passar o mouse */
    text-decoration: none; /* Remove o sublinhado ao passar o mouse */
}

/* Estilo para links quando estão no estado ativo (clicado) */
a:active {
    color: inherit; /* Mantém a cor do texto ao clicar no link */
    text-decoration: none; /* Remove o sublinhado ao clicar */
}

/* Estilo para links visitados */
a:visited {
    color: inherit; /* Mantém a cor do texto para links visitados */
    text-decoration: none; /* Remove o sublinhado de links visitados */
}



/* Cabeçalho */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.navbar-brand h1 {
    color: #e60000;
    font-size: 2rem;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar-menu li {
    margin: 0;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: #e60000;
}

/* Background */
.background {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url('background.jpg') no-repeat center center fixed; /* Substitua com a imagem de fundo desejada */
    background-size: cover;
}

.context {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.context h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.context p {
    font-size: 1.5rem;
}

/* Conteúdo principal */
.content {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1;
}

section {
    margin-bottom: 4rem;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

section p {
    margin: 1rem 0;
    font-size: 1.2rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

/* Seção de Projetos */
.project-item {
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #1b1b1b65; /* Fundo um pouco mais claro para os itens dos projetos */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
    transform: scale(1.03); /* Aumenta um pouco o tamanho */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra mais forte */
}

.project-item h3 {
    color: #e60000; /* Título em vermelho */
    margin-top: 0;
}

.project-item a {
    color: #e60000; /* Cor dos links dos projetos */
    text-decoration: none; /* Remove o sublinhado dos links */
}

.project-item a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.project-item .description {
    margin-bottom: 15px;
}

.project-item ul {
    list-style: disc;
    padding-left: 1.5rem;
}

.project-item ul li {
    color: #ccc; /* Texto em cinza claro para os itens da lista de projetos */
    margin-bottom: 0.5rem;
}

/* Estilo para a imagem do projeto */
.project-image {
    width: 100%; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Adiciona borda arredondada à imagem */
    margin-top: 1rem; /* Adiciona espaço acima da imagem */
    margin-bottom: 1rem; /* Adiciona espaço abaixo da imagem */
}


/* Rodapé */
.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.8);
    text-align: center;
    padding: 1rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.footer p {
    margin: 0;
    font-size: 1rem;
    color: #e60000;
}

/* Círculos animados */
.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(235, 4, 4, 0.178);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* Estilos da seção Contato */
.contact {
    padding: 4rem 2rem;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: white; /* Cor do texto */
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #e60000; /* Cor para o título */
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.contact-icon {
    font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
    margin-right: 0.5rem;
    color: #e60000; /* Cor dos ícones */
}

.contact p {
    margin: 0;
    font-size: 1.2rem;
    color: white; /* Cor do texto */
}

.contact a {
    color: #e60000; /* Cor dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
}

.contact a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.experience-item {
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #1b1b1b9a; /* Fundo um pouco mais claro para as seções */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-item:hover {
    transform: scale(1.03); /* Aumenta um pouco o tamanho */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra mais forte */
}

.experience-item h3 {
    color: #e60000; /* Título em vermelho */
    margin-top: 0;
}

.location, .position, .duration, .type {
    color: #fff; /* Texto em branco */
    font-weight: bold;
}

h4 {
    color: #fff; /* Título das atividades em branco */
    margin-bottom: 0.5rem;
}

ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

ul li {
    color: #ccc; /* Texto em cinza claro para os itens da lista */
    margin-bottom: 0.5rem;
}

